<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav>
        <div class="wrapper">
            <%= image_tag "https://icon-library.net/images/icon-blog-png/icon-blog-png-13.jpg", {height: 100} %>
            <h3><%= link_to "Blogger", articles_path, class: "home" %></h3>
        </div>
        <%= link_to "Create Article", new_article_path, class: "new_article" %>
      </nav>
    <%= yield %>
  </body>
</html>
